<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prefix</key>
	<string>m</string>
	<key>suffix</key>
	<string></string>
	<key>snippets</key>
	<array>
		<dict>
			<key>abbreviation</key>
			<string>mail</string>
			<key>plainText</key>
			<string>test@mail.com</string>
			<key>label</key>
			<string>Email address</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>sign</string>
			<key>plainText</key>
			<string>
---
John Doe
</string>
			<key>richText</key>
			<data>e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29jb2FydGYxMzQ3XGNvY29hc3VicnRmNTcwCntcZm9u
dHRibFxmMFxmc3dpc3NcZmNoYXJzZXQwIEFyaWFsTVQ7fQp7XGNvbG9ydGJsO1xyZWQyNTVcZ3Jl
ZW4yNTVcYmx1ZTI1NTtccmVkMTE3XGdyZWVuMTE3XGJsdWUxMTc7XHJlZDI1NVxncmVlbjI1NVxi
bHVlMjU1O1xyZWQyNlxncmVlbjI2XGJsdWUyNjsKfQpcZGVmdGFiNzIwClxwYXJkXHBhcmRlZnRh
YjcyMAoKXGYwXGZzMjAgXGNmMiBcY2IzIFxleHBuZDBcZXhwbmR0dzBca2VybmluZzAKXG91dGww
XHN0cm9rZXdpZHRoMCBcc3Ryb2tlYzIgXAotLS1cY2Y0IFxleHBuZDBcZXhwbmR0dzBca2Vybmlu
ZzAKXG91dGwwXHN0cm9rZXdpZHRoMCBcc3Ryb2tlYzQgXApcY2YyIFxleHBuZDBcZXhwbmR0dzBc
a2VybmluZzAKXG91dGwwXHN0cm9rZXdpZHRoMCBcc3Ryb2tlYzIgSm9obiBEb2VcY2Y0IFxleHBu
ZDBcZXhwbmR0dzBca2VybmluZzAKXG91dGwwXHN0cm9rZXdpZHRoMCBcc3Ryb2tlYzQgXAp9</data>
			<key>html</key>
			<data>PG1ldGEgY2hhcnNldD0ndXRmLTgnPjxkaXYgc3R5bGU9ImNvbG9yOiByZ2IoMzQsIDM0LCAzNCk7
IGZvbnQtZmFtaWx5OiBhcmlhbCwgc2Fucy1zZXJpZjsgZm9udC1zaXplOiBzbWFsbDsgZm9udC1z
dHlsZTogbm9ybWFsOyBmb250LXZhcmlhbnQ6IG5vcm1hbDsgZm9udC13ZWlnaHQ6IG5vcm1hbDsg
bGV0dGVyLXNwYWNpbmc6IG5vcm1hbDsgbGluZS1oZWlnaHQ6IG5vcm1hbDsgb3JwaGFuczogYXV0
bzsgdGV4dC1hbGlnbjogc3RhcnQ7IHRleHQtaW5kZW50OiAwcHg7IHRleHQtdHJhbnNmb3JtOiBu
b25lOyB3aGl0ZS1zcGFjZTogbm9ybWFsOyB3aWRvd3M6IDE7IHdvcmQtc3BhY2luZzogMHB4OyAt
d2Via2l0LXRleHQtc3Ryb2tlLXdpZHRoOiAwcHg7IGJhY2tncm91bmQtY29sb3I6IHJnYigyNTUs
IDI1NSwgMjU1KTsiPjxmb250IGNvbG9yPSIjOTk5OTk5Ij48YnIgY2xhc3M9IkFwcGxlLWludGVy
Y2hhbmdlLW5ld2xpbmUiPi0tLTwvZm9udD48L2Rpdj48ZGl2IHN0eWxlPSJjb2xvcjogcmdiKDM0
LCAzNCwgMzQpOyBmb250LWZhbWlseTogYXJpYWwsIHNhbnMtc2VyaWY7IGZvbnQtc2l6ZTogc21h
bGw7IGZvbnQtc3R5bGU6IG5vcm1hbDsgZm9udC12YXJpYW50OiBub3JtYWw7IGZvbnQtd2VpZ2h0
OiBub3JtYWw7IGxldHRlci1zcGFjaW5nOiBub3JtYWw7IGxpbmUtaGVpZ2h0OiBub3JtYWw7IG9y
cGhhbnM6IGF1dG87IHRleHQtYWxpZ246IHN0YXJ0OyB0ZXh0LWluZGVudDogMHB4OyB0ZXh0LXRy
YW5zZm9ybTogbm9uZTsgd2hpdGUtc3BhY2U6IG5vcm1hbDsgd2lkb3dzOiAxOyB3b3JkLXNwYWNp
bmc6IDBweDsgLXdlYmtpdC10ZXh0LXN0cm9rZS13aWR0aDogMHB4OyBiYWNrZ3JvdW5kLWNvbG9y
OiByZ2IoMjU1LCAyNTUsIDI1NSk7Ij48Zm9udCBjb2xvcj0iIzk5OTk5OSI+Sm9obiBEb2U8c3Bh
biBjbGFzcz0iQXBwbGUtY29udmVydGVkLXNwYWNlIj7CoDwvc3Bhbj48L2ZvbnQ+PC9kaXY+</data>
			<key>label</key>
			<string>Email signature</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>name</string>
			<key>plainText</key>
			<string>John Doe</string>
			<key>label</key>
			<string>Full name</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>tel</string>
			<key>plainText</key>
			<string>+49 111 11111111</string>
			<key>label</key>
			<string>Mobile number (DE)</string>
		</dict>
	</array>
</dict>
</plist>
